fastapi
uvicorn[standard]
torch
transformers
torchxrayvision
scikit-image
torchvision
numpy
matplotlib
seaborn
python-multipart
python-dotenv
openai
sqlalchemy
asyncpg
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
minio
bcrypt
